#CampDetails {
    width: 100%;
    height: 100%;

    .CampDetails_main {
        width: 100%;
        height: calc(100% - 130px);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;

        &.popup_on::before{
            transition: all 0.5s ease;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: #000000b3;
            z-index: 100;
        }

        &.popup_on{
            overflow: hidden;
            pointer-events: none;
        }


        &::-webkit-scrollbar {
            background-color: #fff;
            box-shadow: inset 2px 2px 2px #00000040;
            width: 5px;
        }
    
        &::-webkit-scrollbar-thumb {
            background: #5092CF;
            border-radius: 20px;
            height: 30%;
        }
    

        & > div {
            width: 90%;
            height: 100%;
            position: relative;
            .share-button_box{
                width: 100%;
                display: flex;
                justify-content: right;
            }
            .share-button {
                background-color: rgba(0, 0, 0, 0.6);
                color: white;
                border: none;
                background-color: #5092CF;
                border-radius: 5px;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                cursor: pointer;
                margin-top: 10px;
                text-align: right;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                right: 0;
                /* &.scrolled {
                    background-color: #ff0000;
                    position: absolute;
                    top: 5px;
                    z-index: 100;
                    
                } */
            }

            .SearchList_main_img {
                height: 200px;
                width: 100%;
                position: relative;
                margin-top: 20px;
                border-radius: 20px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 20px;
                }

                &.no-image::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: rgba(0, 0, 0, 0.3);
                    border-radius: 20px;
                }

                &.no-image p {
                    font-family: 'BinggraeSamanco';
                    position: absolute;
                    bottom: 5%;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 1em;
                    color: white;
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                }
            }
            .SearchList_main_weather{
                background-size: cover;
                background-position: center center;
                height: 200px;
                width: 100%;
                position: relative;
                margin-top: 20px;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.3s ease;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
                cursor: pointer;
                &.active{
                    height: 40px;
                }
                &.active .SearchList_main_weather_inner{
                    display: none;
                }
                .SearchList_main_weather_shot{
                    display: none;
                }
                &.active .SearchList_main_weather_shot{
                    display: flex;
                    width: 80%;
                    height: 100%;
                    margin: 0 auto;
                    justify-content: space-around;
                    color: #f5f5f5;
                    align-items: center;
                }

                
                &::before{
                    width: 100%;
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 0;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.212);
                    border-radius: 15px;
                }
                
                & > span{
                    position: absolute;
                    top: 5%;
                    right: 5%;
                    color: #f5f5f5;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    transform: none;
                }
                &.active > span{
                    transform: rotate(180deg) translateY(50%);
                    perspective: 800PX;
                    top: 50%;
                }
                & > div{
                    width: 80%;
                    height: 80%;
                    display: flex;
                    z-index: 100;
                    & > div:nth-of-type(1){
                        width: 40%;
                        height: 100%;
                        color: #f5f5f5;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        h2{
                            margin-bottom: 10%;
                            font-family: 'Binggra-bold';
                            font-size: 1em;
                        }
                        p{
                            font-size: 0.8em;
                        }
                    }
                    & > div:nth-of-type(2){
                        width: 60%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        & > div{
                            width: 90%;
                            height: 80%;
                            background-color: rgba(0, 0, 0, 0.5);
                            border-radius: 15px;
                            & > div:nth-of-type(1){
                                background-color: rgba(0, 0, 0, 0.3);
                                width: calc(100 -15px);
                                height: 25%;
                                border-radius: 15px 15px 0 0;
                                color: #f5f5f5;
                                font-family: 'BinggraeSamanco';
                                display: flex;
                                align-items: center;
                                padding-left: 15px;
                            }
                            & > div:nth-of-type(2){
                                display: flex;
                                height: 75%;
                                width: 100%;

                                & > div:nth-of-type(1){
                                    color: #f5f5f5;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    width: 50%;
                                    height: 100%;
                                    h3{
                                        font-size: 1.2em;
                                    }
                                    & > p:nth-of-type(1){
                                        font-size: 0.7em;
                                        margin: 5% 0;
                                    }
                                    & > p:nth-of-type(2){
                                        font-family: 'BinggraeSamanco';
                                        text-align: center;
                                        font-size: 0.8em;
                                        width: 80%;
                                    }
                                }
                                & > div:nth-of-type(2){
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 50%;
                                    height: 100%;
                                    img{
                                        width: 70%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



.share-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(-1);
    background: white;
    border: 1px solid #5092CF;
    border-radius: 8px;
    height: 237px;
    width: 70%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    z-index: -1;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease, z-index 0.5s linear 0.5s;

    &.popup_open{
        z-index: 1000;
        opacity: 1;
        transition: all 0.5s ease;
        transform: translate(-50%, -50%) scaleX(1);
        
    }

    & > div{
        width: 80%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        & > div:nth-of-type(1){
            width: 80%;
            height: 20%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            button{
                height: 30px;
                width: 30px;
                border-radius: 50%;
                border: none;
                background: none;
                outline: none;
                box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                background-color: #F8F9FB;
                cursor: pointer;
                span{
                    color: #383C3F;
                    font-size: 1.2em;
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
                }
                
            }
            h3{
                font-size: 1.2em;
                font-family: 'Binggrae';
            }
        }
        & > div:nth-of-type(2){
            width: 100%;
            height: 40%;

            
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            button{
                width: 25%;
                height: 100%;
                background: none;
                border: 0;
                outline: 0;
                img{
                    padding: 10%;        
                    border-radius: 50px;
                    width: 60%;
                
                    background-color: #F8F9FB;
                }
                p{
                    height: 20%;
                    font-family: 'BinggraeMelona';
                }

            }
        }
        & > div:nth-of-type(3){
            width: 90%;
            height: 30%;
            display: flex;
            flex-direction: column;
            align-items: baseline;
            h3{
                padding-left: 2%;
                font-size: 0.9em;
                height: 40%;
            }
            .link{
                position: relative;
                input{
                    width: 80%;
                    padding-right: 20%;
                    background-color: #F8F9FB;
                    border: none;
                    &:focus{
                        outline: 0;
                    }
                }
                button{
                    position: absolute;
                    height: 20px;
                    width: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    right: 0%;
                    top: 50%;
                    transform: translateY(-50%);
                    background: none;
                    border: none;
                    outline: 0;
                    cursor: pointer;
                    
                    span{
                        font-size: 1.4em;
                    }
                }
            }
        }
    }
}

.share-popup-inner input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;

}
