/* like list page */
#FavoriteList{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    #Header{
        background-color: #5092CF;
        border: none;
        .user-menu-main{
            border: 2px solid white;
            color: white;
        }
    }
    .FavoriteList_main {
        width: 100%;
        height: calc(100% - 120px);
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        background-color: #f8f8f8;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        transition: all 0.5s ease;
        &.dimmed{
            overflow: hidden;
        }
        &.dimmed::before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 300vh;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 10;
            pointer-events: none;

        }
        &::-webkit-scrollbar {
            background-color: #fff;
            box-shadow: inset 2px 2px 2px #00000040;
            width: 5px;
        }
        &::-webkit-scrollbar-thumb {
            background: #5092CF;
            border-radius: 20px;
            height: 30%;
        }
        .FavoriteList_main_inner {
            width: 90%;
            height: 100%;
            box-sizing: border-box;
    
            ul{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .favorite_campList{
                    width: 100%;
                    border: 1px solid #BBB0B0;
                    margin-bottom: 20px;
                    height: 220px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
                    background-color: white;
                    &:first-child{
                        margin-top: 20px;
                    }
                    &:last-child{
                        margin-bottom: 20px;
                    }

                    & > div{
                        width: 90%;
                        height: 90%;
                        & > div:nth-of-type(1){
                            width: 100%;
                            height: 70%;
                            border-radius: 10px;
                            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                            position: relative;
                            p{
                                position: absolute;
                                top: 18%;
                                left: 28%;
                                color: #D4D9D1;
                                font-family: 'BinggraeSamanco';
                                font-size: 1em;
                                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                            }
                            img:nth-of-type(1){
                                &:hover{
                                    filter: brightness(0.7);
                                }
                                transition: 0.3s all ease;
                                border-radius: 10px;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                            img:nth-of-type(2){
                                position: absolute;
                                bottom: -7px;
                                left: 0;
                                width: 90px;
                                filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.25));
                            }
                            img:nth-of-type(3){
                                position: absolute;
                                top: 35%;
                                transform: translateY(-50%);
                                left: 24%;
                                filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.25));
                            }
                        }
                        & > div:nth-of-type(2){
                            width: 100%;
                            height: 30%;
                            display: flex;
                            justify-content: space-between;
                            & > div:nth-of-type(1){
                                width: 80%;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                h3{
                                    font-family: 'BinggraeMelona';
                                    margin-bottom: 1%;
                                    overflow:hidden;
                                    text-overflow:ellipsis;
                                    white-space:nowrap;
                                    font-size: 1em;
                                    color: #333;
                                }
                                p{
                                    color: #666;
                                    font-family: 'BinggraeMelona';
                                    overflow:hidden;
                                    text-overflow:ellipsis;
                                    white-space:nowrap;
                                    font-size: 0.7em;
                                }
                                
                            }
                            & > div:nth-of-type(2){
                                width: 15%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                position: relative;
                                cursor: pointer;
                                &::before{
                                    opacity: 0;
                                    display: none;
                                    transition: all 0.3s ease;
                                }
                                &:hover{
                                    &::before{
                                        display: block;
                                        content: "좋아요 취소";
                                        width: 100px;
                                        opacity: 1;
                                        top: -25px;
                                        position: absolute;
                                        height: 25px;
                                        right: 0;
                                        background-color: white;
                                        border-radius: 30px;
                                        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        font-family: 'BinggraeSamanco';
                                        font-size: 1em;
                                    }
                                }
                                img{
                                    border: 1px solid #f7f5f5;
                                    border-radius: 50%;
                                    padding: 5px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    background-color:white;
                                    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                                    width: 30px;
                                }
                            }
                        }
                    }
                }
                .not_favorite{
                    width: 100%;
                    height: 200px;
                    background-color: white;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    margin-top: 20px;
                    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
                    border: 2px solid #5092CF;
                    box-sizing: border-box;
                    img{
                        height: 70%;
                        object-fit: contain;
                        filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.25));
                    }
                    p{
                        font-family: 'Binggra-bold';
                        color: #5092CF;
                        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.10);
                    }
                }
            }
        }
    }
    .fav_delete_pop{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 90%;
        border-radius: 10px;
        height: 220px;
        background-color: white;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 11;
        & > div{
            width: 80%;
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            img{
                height: 55%;
                filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.25));
            }
            h3{
                color: #477954;
                font-family: 'Binggrae';
            }
            div{
                width: 100%;    
                height: 20%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                button{
                    width: 40%;
                    height: 100%;
                    outline: 0;
                    border: 0;
                    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                    cursor: pointer;
                    &:nth-of-type(1){
                        background-color: #477954;
                        border-radius: 5px;
                        color: white;
                    }
                    &:nth-of-type(2){
                        
                        border: 2px solid #477954;
                        box-sizing: border-box;
                        border-radius: 5px;
                        color: #477954;
                        background-color: white;
                    }
                }
            }
        }
    }

}