#FavoriteList{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    #Header{
        background-color: #5092CF;
        border: none;
        .user-menu-main{
            border: 2px solid white;
            color: white;
        }
    }
    .FavoriteList_main {
        width: 100%;
        height: calc(100% - 120px);
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        background-color: #f8f8f8;
        overflow-x: hidden;
        overflow-y: auto;
        &::-webkit-scrollbar {
            background-color: #fff;
            box-shadow: inset 2px 2px 2px #00000040;
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background: #5092CF;
            border-radius: 20px;
            height: 30%;
        }
    }
    .FavoriteList_main_inner {
        width: 90%;
        height: 100%;
        box-sizing: border-box;

        ul{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            
            .favorite_campList{
                width: 100%;
                border: 1px solid #BBB0B0;
                margin-bottom: 20px;
                height: 220px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
                background-color: white;
                &:first-child{
                    margin-top: 20px;
                }
                
            
                & > div{
                    width: 90%;
                    height: 90%;
                    & > div:nth-of-type(1){
                        width: 100%;
                        height: 70%;
                        border-radius: 10px;
                        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                        position: relative;
                        p{
                            position: absolute;
                            top: 18%;
                            left: 28%;
                            color: #D4D9D1;
                            font-family: 'BinggraeSamanco';
                            font-size: 1em;
                            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                        }
                        img:nth-of-type(1){
                            &:hover{
                                filter: brightness(0.7);
                            }
                            transition: 0.3s all ease;
                            border-radius: 10px;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        img:nth-of-type(2){
                            position: absolute;
                            bottom: -7px;
                            left: 0;
                            width: 90px;
                            filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.25));
                        }
                        img:nth-of-type(3){
                            position: absolute;
                            top: 35%;
                            transform: translateY(-50%);
                            left: 24%;
                            filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.25));
                        }
                    }
                    & > div:nth-of-type(2){
                        width: 100%;
                        height: 30%;
                        display: flex;
                        justify-content: space-between;
                        & > div:nth-of-type(1){
                            width: 80%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            h3{
                                font-family: 'BinggraeMelona';
                                margin-bottom: 1%;
                                overflow:hidden;
                                text-overflow:ellipsis;
                                white-space:nowrap;
                                font-size: 1em;
                                color: #333;
                   
                            }
                            p{
                                color: #666;
                                font-family: 'BinggraeMelona';
                                overflow:hidden;
                                text-overflow:ellipsis;
                                white-space:nowrap;
                                font-size: 0.7em;
                            }
                            
                        }
                        & > div:nth-of-type(2){
                            width: 15%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: relative;
                            cursor: pointer;
                            &::before{
                                opacity: 0;
                                display: none;
                                transition: all 0.3s ease;
                            }
                            &:hover{
                                &::before{
                                    display: block;
                                    content: "좋아요 취소";
                                    width: 100px;
                                    opacity: 1;
                                    top: -25px;
                                    position: absolute;
                                    height: 25px;
                                    right: 0;
                                    background-color: white;
                                    border-radius: 30px;
                                    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-family: 'BinggraeSamanco';
                                    font-size: 1em;
                                    
                                }
                            }
                            img{
                                border: 1px solid #f7f5f5;
                                border-radius: 50%;
                                padding: 5px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color:white;
                                box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                                width: 30px;
                            }
                       
                           
                        }

                    }
                    
                }
               
            }
            .not_favorite{
                width: 100%;
                height: 200px;
                background-color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                margin-top: 20px;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
                img{
                    height: 70%;
                    object-fit: contain;
                }
                p{
                    font-family: 'Binggra-bold';
                    color: #5092CF;
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.10);
                }
            }
        }
    }
    
    
}