#List {
    width: 100%;
    height: 100%;
}

.List_main {
    width: 100%;
    height: calc(100% - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;


    .List_main_warp {
        width: 90%;
        height: 100%;
        box-sizing: border-box;
        &::-webkit-scrollbar {
            background-color: #fff;
            box-shadow: inset 2px 2px 2px #00000040;
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background: #5092CF;
            border-radius: 20px;
            height: 30%;
        }
        
        .filter_box{
            width: 100%;
            height: 70px;
            border: 1px solid #BBB0B0;
            border-radius: 15px;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px 0px;
            box-sizing: border-box;
            .filter_box_warp{
                width: 90%;
                height: 80%;
                display: flex;
                flex-direction: column;
                & > div{
                    width: 100%;
                    height: 100%;
                    display: flex; 
                    overflow-y: hidden;
                    overflow-y: auto;
                    &::-webkit-scrollbar {
                        background-color: #fff;
                        box-shadow: inset 2px 2px 2px #00000040;
                        height: 2px;
                    }
            
                    &::-webkit-scrollbar-thumb {
                        background: #5092CF;
                        border-radius: 20px;
                        width: 30%;
                    }                   
                    .swiper-container3{
                        width: 100%;
                        height: 100%;
               
                      
                        .swiper-wrapper{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            
                            
                            .filter_box_bt_select{
                                height: 60%;
                                display: flex;
                                padding: 0% 5% !important;
                                width: auto;
                                scroll-margin-bottom: 10px;
                                border-radius: 30px;
                                border: 1px solid #5092CF;
                                box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                                color: #5092CF;
                                justify-content: space-between;
                                font-size: 0.7em;
                                align-items: center;
                                &:nth-child(-n + 2) {
                                    background-color: #5092CF;
                                    border: none;
                                    color: #f5f5f5;
                                  }
                                & > span{
                                    width: 10%;
                                    height: 100%;
                                    margin-top: 3px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                            }
                        }
                    }
                  
            
                  
                }
            }
        }
        .camp_list{
            width: 100%;
            height: calc(100% - 180px);
            border-radius: 15px;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
            border: 1px solid #BBB0B0;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow-x: hidden;
            overflow-y: auto;
            position: relative;
            &::-webkit-scrollbar {
                background-color: #fff;
                box-shadow: inset 2px 2px 2px #00000040;
                width: 5px;
                
            }
    
            &::-webkit-scrollbar-thumb {
                background: #5092CF;
                border-radius: 20px;
                height: 30%;
            }
            .camp_list_warp{
                width: 90%;
                height: 100%;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                align-items: center;

                .camp_list_box{
                    width: 100%;
                    height: 200px;
                    border-radius: 15px;
                    margin-top: 20px;
                    flex-shrink: 0;
                    position: relative;
                    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                    border: 1px solid #BBB0B0;
                    box-sizing: border-box;
                    z-index: -5;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 100;
                    position: relative;
                    transition: all .3s ease;
                    &:last-child{
                        margin-bottom: 20px;
                    }
                    & > img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: -5;
                        border-radius: 15px;
                    }
                    &::before{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        content: "";
                        background-color: #00000048;
                        z-index: -4;
                        border-radius: 15px;
               
                    }
                    .camp_list_box_warp{
                        width: 85%;
                        height: 85%;
                        display: flex;
                        align-items: center;
                        position: relative;
                        .camp_info{
                            z-index: 10 !important;
                            color: #f5f5f5;
                            & > h3{
                                font-size: 1em;
                            }
                            & > p{
                                font-size: 00.8em;
                            }
                            .camp_info_ck{
                                position: absolute;
                                top: 0;
                                right: 0;
                                font-size: 0.6em;
                                display: flex;
                                white-space: nowrap;
                                & > img{
                                    width: 18px;
                                    height: 18px;
                                    margin-left: 3%;
                                    
                                }
                            }
                        }
                      
                        p.none{
                            position: absolute;
                            top: 0;
                            left: 0;
                            font-size: 0.6em;
                            z-index: 100;
                            color: #f5f5f5;
                        }
                    }
                    .camp_info_briefly{
                        position: absolute;
                        width: 100%;
                        height: 20%;

                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: space-between;
                        bottom: 0;
                        left: 0;
                        font-size: 0.7em;
                        cursor: pointer;
                        color: #f5f5f5;
                        span{
                            font-size: 2em;
                        }
                    }
                    .camp_info_details {
                        visibility: hidden;
                        position: absolute;
                        left: 0;
                        opacity: 0;
                        height: 0;
                        width: 100%;
                        padding: 5px 12px;
                        bottom: -60px;
                        background-color: rgb(189, 0, 0);
                        color: #5092CF;
                        transform-origin: top top;
                        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
                        z-index: 1000;
                        transition: all .3s ease;
                        border-radius: 0 0 15px 15px;
                        border: 1px solid #BBB0B0;
                        box-sizing: border-box;
                        overflow-x: hidden;
                        overflow-y: auto;
                        &::-webkit-scrollbar {
                            background-color: #fff;
                            box-shadow: inset 2px 2px 2px #00000040;
                            border-radius: 20px;
                            width: 5px;
                        }
                
                        &::-webkit-scrollbar-thumb {
                            background: #5092CF;
                            border-radius: 20px;
                            width: 30%;
                        }     
                        li{
                            
                            padding: 2px 10px;
                            border: 1px solid #5092CF;
                            border-radius: 15px;
                            display: inline-block;
                            font-size: 0.8em;
                            margin: 3px 3px;
                            background-color: white;
                            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                        }
                        
                    }

                    .camp_info_briefly:hover .camp_info_details {
                        visibility: visible;
                        z-index: 1000;
                        transform-origin: bottom;
                        background-color: white;
                        transition: all .3s ease;
                        opacity: 1;
                        height: 60px;
                        border-bottom: 2px solid #5092CF;
                    }
                }
                .camp_list_box.hovered {
                    margin-bottom: 60px !important;
                    transition: all .3s ease;
                    border-radius: 15px 15px 0 0;
                }
                .camp_list_box.hovered img,
                .camp_list_box.hovered::before
                {
                    border-radius: 15px 15px 0 0;
                }

                .camp_list_box.hovered .camp_list_box::before{
                    border-radius: 15px 15px 0 0;
                }
                

                .no_results{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    h3{
                        color: #5092CF;
                        font-family: 'Binggra-bold';
                        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
                        margin : 15% 0;
                        
                    }
                    .retry_button{
                        font-family: "Noto Sans KR", sans-serif;
                        width: 80%;
                        height: 60px;
                        outline: none;
                        border: none;
                        color: #f5f5f5;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #5092CF;
                        font-weight: bold;
                        border-radius: 30px;
                        cursor: pointer;
                        font-size: 1em;
                        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                    }
                    .no_results_img_warp{
                        width: 100%;
                        height: 35%;
                        position: relative;
                        img{
                            position: absolute;
                            top: 50%;
                            height: 100%;
                            left: 50%;
                            transform: translate(-50%,-50%);

                            &:nth-of-type(2){
                                z-index: -1;
                                height: 70%;
                                left: 60%;
                            }
                        }
                    }
                }
                

                
            }
        }
    }
    .load_list{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #5092CF;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        z-index: 100;
        .loader {
            border: 2.5px solid #5092CF;
            border-left-color: transparent;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            animation: spin89345 1s linear infinite;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          @keyframes spin89345 {
            0% {
              transform: rotate(0deg);
            }
          
            100% {
              transform: rotate(360deg);
            }
          }
        }
    }


    /* 숙소 유형 필터  */
    .Camping_type{
        position: absolute;
        bottom: -350px;
        left: 0;
        width: 100%;
        height: 350px;
        background-color: white;
        border-radius: 0 0 15px 15px;
        z-index: 100;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
        border: 1px solid #5092CF;
        opacity: 0;
        transition: 0.3s ease-in-out;
        display: none;
        position: fixed;
        z-index: 101;
        &.show {
            display: block;
            opacity: 1;
            bottom: 0;
        }
        .Camping_type_warp{
            width: 100%;
            height: calc(100% - 8%);
            & > div:nth-of-type(1) {
                width: 100%;
                height: 12%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #5092CF;
                font-family: 'Binggra-bold';
                font-size: 1em;
            }
            & > div:nth-of-type(2) {
                width: 100%;
                height: 65%;
   
                display: flex;
                align-items: center;
                justify-content: center;
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    width: 90%;
                    height: 90%;
        
                    align-items: center;
                    justify-content: space-between;
                    
                    li{
                        width: 47%;
                        height: 25%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border:1px solid #b4b4b4 ;
                        color:#b4b4b4 ;
                        font-size: 0.85em;
                        border-radius: 5px;
                        &.active {
                            border: none;
                            background-color: #5092CF;
                            color: #f5f5f5;
                        }
                    }
                }
            }

            & > div:nth-of-type(3){
                width: 100%;
                height: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
                button{
                    width: 60%;
                    height: 80%;
                    background: #5092CF;
                    border: none;
                    color: #f5f5f5;
                    border-radius: 10px;
                    font-family: "Noto Sans KR", sans-serif;
                    font-weight: bold;
                    font-size: 1em;
                    
                }
            }
        }
        .close{
            width: 100%;
            height: 8%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: none;
            cursor: pointer;
            border: none;
            & > span{
                color: #a1a1a1;
                font-size: 2.5em;
            }
        }
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    