#Main {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: calc(100% - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
        background-color: #fff;
        box-shadow: inset 2px 2px 2px #00000040;
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: #5092CF;
        border-radius: 20px;
        height: 30%;
    }

    .main_warp {
        width: 90%;
        height: 100%;
        box-sizing: border-box;
      
        
        .main_se1{
            width: 100%;
            height: 80px;
            border: 1px solid #BBB0B0;
            border-radius: 15px;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-top: 20px;
        }
        
        .main_se1_5_search {
            width: 100%;
            height: 40px;
            
            margin-top: 20px;
            form{
                width: 100%;
                height: 100%;
                position: relative;
                input {
                    width: 100%;
                    height: 100%;
                    border-radius: 30px;
                    border: 1px solid #BBB0B0;
                    text-align: center;
                    font-family: "Noto Sans KR", sans-serif;
                    &:focus {
                        outline: none;
                        border: 2px solid #5092CF;
                        color: #5092CF;
                        font-weight: bold;
                    }
                    &:focus::placeholder {
                        color: #5092CF;
                    }

                    &::placeholder {
                        color: #BBB0B0;
                        padding: 0px 20px;
                    }
                    &:focus ~ span{
                        color: #5092CF;
                    }
                }
                span {
                    position: absolute;
                    top: 50%;
                    left: 30px;
                    transform: translate(-50%, -50%);
                    color: #BBB0B0;
                }
            }
          
        }
        .suggestions-box {
            z-index: 100 !important;
            transition: opacity 0.5s ease, height 0.5s ease;
            opacity: 0;
            height: 0; /* 처음에 높이를 0으로 설정하여 안 보이게 함 */
            overflow: hidden; /* 내용이 넘칠 때 숨김 */
            width: 100%;
            border: 1px solid #BBB0B0;
            box-sizing: border-box;
            border-radius: 15px;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
        
            &.show {
                opacity: 1;
                margin-top: 20px;
                margin-bottom: 20px;
                height: 200px; /* 보일 때의 높이를 설정 */
            }
        
            p {
                height: 40px;
                display: flex;
                align-items: center;
                font-family: 'BinggraeMelona';
                font-size: 0.8em;
                border-radius: 15px;
                color: #CDCCD1;
                padding-left: 3%;
            }
        
            & > div {
                height: 160px;
                overflow-y: auto;
                overflow-x: hidden;
        
                .suggestion-item {
                    font-family: 'BinggraeMelona';
                    z-index: 101 !important;
                    height: 40px;
                    width: 97%;
                    color: #8D8E93;
                    padding-left: 3%;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    transition: all .3s ease;
                    &:hover{
                        background-color: #5092CF;
                        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                        border-radius: 15px;
                        color: #f5f5f5;
                    }
                    &.highlighted{
                        background-color: #5092CF;
                        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                        border-radius: 15px;
                        color: #f5f5f5;
                    }
                    span {
                        color: #5092CF;  
                        margin-right: 1.5%;  
                    }
                    &:hover span,
                    &.highlighted span{
                        color: #f5f5f5;
                    }
                }
            }
        }
        

      

        .main_se2{
            width: 100%;
            height: 200px;
            margin-top: 20px;
            border-radius: 15px;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
            overflow: hidden;
            border: 1px solid #BBB0B0;
            position: relative;
            .swiper-container{
                width: 100%;
                height: 100%;
                position: relative;
                .swiper-wrapper{
                    width: 100%;
                    height: 100%;
                    .swiper-slide{
                        width: 100%;
                        height: 100%;
                        a{
                            width: 100%;
                            height: 100%;
                            img{
                                width: 100%;
                                object-fit: contain;
                            }
                        }

                    }
                   
                }
                .swiper-pagination{
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    width: 50px;
                    border: 1px solid #BBB0B0;
                    border-radius: 30px;
                    height: 20px;
                    align-items: center;
                    font-family: 'BinggraeSamanco';
                    top: 85%;
                    left: 85%;
                    transform: translate(-50%,-50%);
                    color: #f5f5f5;
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                }
                .next,
                .prev{
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                    color: #f5f5f5;
                }
                .next::after,
                .prev::after {
                  display: none;
                }
                .next::before,
                .prev::before {
                  display: none;
                }
            }
        }

        .main_se3{
            width: 100%;
            height: 230px;
            margin-top: 20px;
            .swiper-container2{
                width: 100%;
                height: 80%;
                overflow: hidden;
                position: relative;
                
                .swiper-wrapper{
                    width: 100%;
                    height: 100%;
                    .swiper-slide{
                        width: 100%;
                        height: 100%;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        .near_camping-info{
                            width: 90%;
                            height: 90%;
                            position: relative;
                            & > h3{
                                padding-left: 5%;
                                font-size: 0.8em;
                                font-family: 'Binggrae';
                                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                                color: #f5f5f5;
                                margin-top: 5%
                            }
                            & > p:nth-of-type(1){
                                padding-left: 5%;
                                font-size: 0.6em;
                                font-family: 'BinggraeMelona';
                                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                                color: #f5f5f5;
                                margin-top: 3%
                            }
                            & > p:nth-of-type(2){
                                position: absolute;
                                bottom: 0px;
                                right: 0px;
                                padding: 1% 5%;
                                border-radius: 25px;
                                border: 1px solid #f5f5f5;
                                box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                                color: #f5f5f5;
                                font-family: 'BinggraeSamanco';
                            }
                        }
                        
                        img{
                            position: absolute;
                            top: 0;
                            left: 0;
                            object-fit: cover;
                            z-index: -2;
                            width: 100%;
                            height: 100%;
                            overflow: hidden;
                            border-radius: 10px;
                            filter: brightness(0.6);
                        }
                    }
                }
            }
            
            .main_se3_box_arrow_warp{
                width: 100%;
                display: flex;
                height: 20%;
                align-items: center;
                justify-content: center;
                img{
                    cursor: pointer;
                }
            }
                
            & > div:nth-of-type(1){
                width: 100%;
                height: 30px;
                color: #333;
                font-family: 'BinggraeMelona';
            }
            & > div:nth-of-type(2){
                width: 100%;
                height: calc(100% - 30px);
                border-radius: 15px;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
                border: 1px solid #BBB0B0;
                display: flex;
                align-items: center;
                justify-content: center;
                .main_se3_box_inner{
                    width: 95%;
                    height: 85%;
                }
            }
        }
    }
}