/* 404 page */
#Not_Found{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
        width: 80%;
    }
    p{
        font-family: "BinggraeSamanco-bold";
        color: #58A65F;
        font-size: 1.5em;
        margin: 10% 0;
    }
    a{
        width: 70%;
        height: 70px;
    }
    button{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #f5f5f5;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
        border: none;
        outline: none;
        background-color: #58A65F;
        border-radius: 30px;
        font-size: 1.1em;
        font-family: 'BinggraeMelona-bold';
        margin-bottom: 10%;
        span{
            margin-left: 7%;
            font-size: 0.9em;
        }
    }
}

/* 반응형 */
@media screen and (max-width: 1000px) and (orientation: landscape) {
    #Not_Found{
        img{
            width: 22%;
        }
        p{
            margin: 3% 0;
        }
        button{
            width: 60%;
            margin: 0 auto;
        }
    }
}

