/* searchlist page */
#SearchList{
    width: 100%;
    height: 100%;
    .SearchList_main{
        width: 100%;
        height: calc(100% - 120px);
        display: flex;
        align-items: center;
        justify-content: center;
        .SearchList_main_warp{
            width: 90%;
            height: 100%;
            .SearchList_main_search{
                width: 100%;
                height: 40px;
                margin-top: 20px;
                form{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    input {
                        width: 100%;
                        height: 100%;
                        border-radius: 30px;
                        border: 2px solid #5092CF;
                        text-align: center;
                        font-family: "Noto Sans KR", sans-serif;
                        color: #5092CF;
                        &:focus {
                            outline: none;
                            font-weight: bold;
                        }
                        &::placeholder {
                            color: #5092CF;
                        }
                    }
                    span {
                        position: absolute;
                        top: 50%;
                        left: 30px;
                        transform: translate(-50%, -50%);
                        color: #5092CF;
                    }
                }
            }
            .SearchList_main_statistics{
                width: 100%;
                height: 70px;
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                & > div{
                    width: 47%;
                    height: 100%;
                    box-sizing: border-box;
                    background: transparent;
                    border: 2px solid #5092CF;
                    border-radius: 10px;
                    position: relative;
                    font-family: 'BinggraeMelona';
                    background: transparent;
                    display: flex;
                    align-items: center;
                    font-size: 17px;
                    font-weight: 600;
                    cursor: pointer;
                    overflow: hidden;
                    transition: color 0.3s 0.1s ease-out;      
                    justify-content: space-around;          

                    .swiper-vertical{
                        width: 40%;
                        margin: 0;
                        height: 100%;
                        .swiper-wrapper{
                            width: 100%;
                            .swiper-slide{
                                width: 100%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                            }
                        }
                    }
                        p{
                            color: #5092CF;
                            font-size: 0.7em;
                        }
                        h3 {
                            color: #5092CF;
                            font-size: 0.9em;
                        }
                        img{
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            z-index: -5;
                            height: 50%;
                        }
                    }                    
                    
                & > div:nth-of-type(1){
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    
                }
            }
            .camp_search_list{
                width: 100%;
                height: calc(100% - 190px);
                border-radius: 15px;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
                border: 1px solid #BBB0B0;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow-x: hidden;
                overflow-y: auto;
                position: relative;
                margin-top: 20px;
                &::-webkit-scrollbar {
                    background-color: #fff;
                    box-shadow: inset 2px 2px 2px #00000040;
                    width: 5px;   
                }
        
                &::-webkit-scrollbar-thumb {
                    background: #5092CF;
                    border-radius: 20px;
                    height: 30%;
                }
                .camp_search_list_warp{
                    width: 90%;
                    height: 100%;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .camp_list_box{
                        width: 100%;
                        height: 200px;
                        border-radius: 15px;
                        margin-top: 20px;
                        flex-shrink: 0;
                        position: relative;
                        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                        border: 1px solid #BBB0B0;
                        box-sizing: border-box;
                        z-index: -5;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        z-index: 100;
                        position: relative;
                        transition: all .3s ease;
                        &:last-child{
                            margin-bottom: 20px;
                        }
                        & > img{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            z-index: -5;
                            border-radius: 15px;
                        }
                        &::before{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            content: "";
                            background-color: #00000048;
                            z-index: -4;
                            border-radius: 15px;
                   
                        }
                        .camp_list_box_warp{
                            width: 85%;
                            height: 85%;
                            display: flex;
                            align-items: center;
                            position: relative;
                            .camp_info{
                                z-index: 10 !important;
                                color: #f5f5f5;
                                & > h3{
                                    font-size: 1em;
                                }
                                & > p{
                                    font-size: 00.8em;
                                }
                                .camp_info_ck{
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    font-size: 0.6em;
                                    display: flex;
                                    white-space: nowrap;
                                    & > img{
                                        width: 18px;
                                        height: 18px;
                                        margin-left: 3%;
                                        
                                    }
                                }
                            }
                          
                            p.none{
                                position: absolute;
                                top: 0;
                                left: 0;
                                font-size: 0.6em;
                                z-index: 100;
                                color: #f5f5f5;
                            }
                        }
                        .camp_info_briefly{
                            position: absolute;
                            width: 100%;
                            height: 20%;
    
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            justify-content: space-between;
                            bottom: 0;
                            left: 0;
                            font-size: 0.7em;
                            cursor: pointer;
                            color: #f5f5f5;
                            span{
                                font-size: 2em;
                            }
                        }
                        .camp_info_details {
                            visibility: hidden;
                            position: absolute;
                            left: 0;
                            opacity: 0;
                            height: 0;
                            width: 100%;
                            padding: 5px 12px;
                            bottom: -60px;
                            background-color: rgb(189, 0, 0);
                            color: #5092CF;
                            transform-origin: top top;
                            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
                            z-index: 1000;
                            transition: all .3s ease;
                            border-radius: 0 0 15px 15px;
                            border: 1px solid #BBB0B0;
                            box-sizing: border-box;
                            overflow-x: hidden;
                            overflow-y: auto;
                            &::-webkit-scrollbar {
                                background-color: #fff;
                                box-shadow: inset 2px 2px 2px #00000040;
                                border-radius: 20px;
                                width: 5px;
                            }
                    
                            &::-webkit-scrollbar-thumb {
                                background: #5092CF;
                                border-radius: 20px;
                                width: 30%;
                            }     
                            li{
                                
                                padding: 2px 10px;
                                border: 1px solid #5092CF;
                                border-radius: 15px;
                                display: inline-block;
                                font-size: 0.8em;
                                margin: 3px 3px;
                                background-color: white;
                                box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                            }
                            
                        }
    
                        .camp_info_briefly:hover .camp_info_details {
                            visibility: visible;
                            z-index: 1000;
                            transform-origin: bottom;
                            background-color: white;
                            transition: all .3s ease;
                            opacity: 1;
                            height: 60px;
                            border-bottom: 2px solid #5092CF;
                        }
                    }
                    .camp_list_box.hovered {
                        margin-bottom: 60px !important;
                        transition: all .3s ease;
                        border-radius: 15px 15px 0 0;
                    }
                    .camp_list_box.hovered img,
                    .camp_list_box.hovered::before
                    {
                        border-radius: 15px 15px 0 0;
                    }
                    .camp_list_box.hovered .camp_list_box::before{
                        border-radius: 15px 15px 0 0;
                    }

                    .no_results{
                        width: 100%;
                        height: 100%;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        h3{
                            color: #5092CF;
                            font-family: 'Binggra-bold';
                            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
                            margin : 15% 0;
                            
                        }
                        .retry_button{
                            font-family: "Noto Sans KR", sans-serif;
                            width: 80%;
                            height: 60px;
                            outline: none;
                            border: none;
                            color: #f5f5f5;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #5092CF;
                            font-weight: bold;
                            border-radius: 30px;
                            cursor: pointer;
                            font-size: 1em;
                            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                        }
                        .no_results_img_warp{
                            width: 100%;
                            height: 35%;
                            position: relative;
                            img{
                                position: absolute;
                                top: 50%;
                                height: 100%;
                                left: 50%;
                                transform: translate(-50%,-50%);
    
                                &:nth-of-type(2){
                                    z-index: -1;
                                    height: 70%;
                                    left: 60%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .load_list{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #5092CF;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            justify-content: center;
            z-index: 100;
            .loader {
                border: 2.5px solid #5092CF;
                border-left-color: transparent;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                animation: spin89345 1s linear infinite;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
              }
              @keyframes spin89345 {
                0% {
                  transform: rotate(0deg);
                }
              
                100% {
                  transform: rotate(360deg);
                }
              }
            }
        }       
}
.loading-message{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    img{
        width: 80%;
        object-fit: cover;
        margin: auto;
    }
}
