/* signup page */
#SignUp{
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: center;
    & > div{
        width: 80%;
        height: 85%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: relative;
        img{
            cursor: pointer;
        }
        p{
            color: #333333;
            margin: 0 auto;
            font-family: 'BinggraeMelona';
            margin: 2%;
        }
            p a{
                font-weight: bold;
                color: #5092CF;
                cursor: pointer;
                text-decoration: underline;
                text-underline-offset: 5px;
                border-radius: 5px;
            }
        form{
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;  

            .no_input,
            .no_fit,
            .same_mail {
                display: none;
                opacity: 0;
                transition: opacity 0.5s ease-in-out;
            }
            & > div >  p{
                width: 100%;
                color: #3D2F18;
                font-size: 0.9em;
                font-family: 'BinggraeMelona';
                margin: 2% 0 !important;         
            }

            .SignUp_input{
                box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
            }

               .email_box{
                    display: flex;
                    justify-content: center;
                    height: auto;
                    align-items: center;
                    justify-content: space-between;
                    height: 45px;
                    & > input{
                        height: 100%;
                        width: 47%;
                        border-radius: 5px;
                        font-size: 0.9em;
                        outline: 0;
                        border: 0;
                        padding-left: 0;
                        border: 0.5px solid #A1A1A1;
                        box-sizing: border-box;
                        text-align: center;
                        width: 47% !important;
                    }
                }

            & > div{
                display: flex;
                width: 95%;
                height: auto;
                flex-direction: column;
                margin-top: 5%;
                position: relative;
                & > div{
                    position: relative;
                }
                & > div > span:nth-of-type(1){
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 2%;
                    font-size: 1.2em;
                    color: #3D2F18;
                }
                & > div > span:nth-of-type(2){
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 2%;
                    font-size: 0.9em;
                    color: #3D2F18;
                    cursor: pointer;
                }
                & > div > input{
                    width: calc(100% - 10%);
                    height: 45px;
                    border-radius: 5px;
                    outline: none;
                    border: 0;
                    border: 0.5px solid #A1A1A1;
                    padding-left: 10%;
                }
                &:nth-of-type(3) > div > input,
                &:nth-of-type(4) > div > input{
                    width: calc(100% - 20%);
                    height: 45px;
                    border-radius: 5px;
                    outline: none;
                    border: 0;
                    border: 0.5px solid #A1A1A1;
                    padding-left: 10%;
                    padding-right: 10%;
                }

                & > div > input:focus{
                    outline: 0;
                    border: 0.5px solid #5092CF;
                    box-sizing: border-box;
                    width: 100%;
                }

                & > div > input::placeholder{
                    font-size: 0.8em;
                }
            
            & legend{
                font-family: 'BinggraeMelona-Bold';
                font-size: 0.85em;
                height: 20px;
                color: #3D2F18;
            }      

        }  
        .signup_btn{
            width: 95%;
            background-color: #5092CF;
            color: #f5f5f5;
            height: 60px;
            border: none;
            border-radius: 5px;
            font-family: 'BinggraeMelona-bold';
            font-size: 1em;
            margin-top: 5%;
            cursor: pointer;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
         }
        }
    }

    .signup_suc{
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: -100;
        display: flex;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease, visibility 0.5s ease;
        &.show{
            opacity: 1;
            visibility: visible;
            z-index: 100;
            transition: opacity 0.5s ease, visibility 0.5s ease;
        }
        &::before{
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 100;
        }
        & > span{
            font-size: 1.5em;
            padding: 3%;
            background-color: white;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
            border-radius: 50%;
            z-index: 101;
            margin-top: 5%;
            cursor: pointer;
            color: #808080;
        }
        & > div{
            width: 80%;
            height: 300px;
            background-color: white;
            z-index: 101;
            border-radius: 30px;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            transition: all 0.5s ease;
            video{
                width: 70%;
                -webkit-mask-image: -webkit-radial-gradient(white, black);
                -webkit-backface-visibility: hidden;
                -moz-backface-visibility: hidden;
            }
            h3{
                font-weight: 400;
                font-size: 1em;
                a{
                    text-decoration: underline;
                    text-underline-offset: 5px;
                    font-weight: bold;
                }
                span{
                    color: #5092CF;
                    font-weight: bold;
                }
            }
        }
    }
}

/* 반응형 */
@media screen and (max-width: 1000px) and (orientation: landscape) {
    #SignUp {
        & .signup_suc {
            &::before {
                content: "";
                position: absolute;
                top: 0;
                width: 100vw !important;
                height: 100vh !important;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 100;
            }
            & > div{
                width: 50%;
                height: 280px;
                h3{
                    font-size: 0.8em;
                    width: 90%;
                }
            }
            span{
                margin-top: 2%;
                padding: 1.5%;
            }
        }
        & > div {
            width: 65% !important;
            height: 100% !important;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            position: relative;
            form {
                width: 100%;
                height: 85% !important;
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow-x: hidden !important;
                overflow-y: auto !important;
                & > div{
                    width: 95% !important;
                    margin-top:  1%;
                }
                .signup_btn{
                    width: 95% !important;
                    padding: 10px 0 !important;
                    margin-top:  1%;
                }
            }
        }
        .GoMain {
            top: 10% !important;
        }
    }
}

@media screen and (max-width: 700px) and (orientation: landscape) {
    #SignUp {
        & .signup_suc {
            & > div {
                width: 55%;
                height: 230px;
            }
        }
    }
}

@media screen and (max-width: 400px) and (orientation: portrait) {
    #SignUp {
        & > div {
            width: 90% !important;
            height: 100% !important;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            position: relative;
            img{
                margin-top: 10% !important;
            }
            form {
                width: 100%;
                height: 85% !important;
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow-x: hidden !important;
                overflow-y: auto !important;
                & > div{
                    width: 95% !important;
                }
                .signup_btn{
                    width: 95% !important;
                    padding: 10px 0 !important;
                }
            }
        }
        & .signup_suc {
            & > div {
                width: 95% !important;
                h3 {
                    font-weight: 400;
                    font-size: 0.9em !important;
                }
            }
        }
    }
}