.Camping_Environment {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 350px;
    background-color: white;
    border-radius: 30px 30px 0px 0px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    border: 1px solid #5092CF;
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
    position: fixed;
    
    &.show {
        z-index: 102;
        opacity: 1;
        transform: translateY(0);
    }
    &.hidden {
        visibility: none;
        z-index: -100;
        transform: translateY(100%);
    }


    .resize-handle {
        background: #fbfbfbb0;
        cursor: ns-resize;
        position: absolute;
        border-radius: 30px;
        top: -18px;
        left: 50%;
        display: none;
        z-index: 101;
        transform: translateX(-50%);
        width: 10px;
        height: 10px;
    }

 

    .Camping_Environment_warp {
        width: 100%;
        height: calc(100% - 18%);
        & > div:nth-of-type(1) {
            width: 100%;
            height: 12%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #5092CF;
            font-family: 'Binggra-bold';
            font-size: 1em;
        }

        & > div:nth-of-type(2) {
            width: 100%;
            height: 65%;
            display: flex;
            align-items: center;
            justify-content: center;
            ul {
                display: flex;
                flex-wrap: wrap;
                width: 90%;
                height: 90%;
                align-items: center;
                justify-content: space-between;
                border-width: 1px 0;
                border-style: dotted;
                border-color: #b1b1b1;

                li {
                    width: 47%;
                    height: 25%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #b4b4b4;
                    color: #b4b4b4;
                    font-size: 0.85em;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    &.active {
                        border: none;
                        background-color: #5092CF;
                        color: #f5f5f5;
                    }
                }
            }
        }

        & > div:nth-of-type(3) {
            width: 100%;
            height: 20%;
            display: flex;
            align-items: center;
            justify-content: center;

            button {
                width: 60%;
                height: 80%;
                background: #5092CF;
                border: none;
                color: #f5f5f5;
                border-radius: 10px;
                font-family: 'Noto Sans KR', sans-serif;
                font-weight: bold;
                font-size: 1em;
                cursor: pointer;
            }
        }
    }

    .close {
        width: 100%;
        height: 8%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        cursor: pointer;
        border: none;

        & > span {
            color: #a1a1a1;
            font-size: 2.5em;
        }
    }
}

@media (max-width: 768px) {
    .Camping_Environment {
        &.show {
            display: block;
            opacity: 1;
            transform: translateY(0);
            .resize-handle {
                display: block;
                z-index: 110;
            }
        }
    }
}
