#Footer{
    width: 100%;
    height: 60px;
    border-top: 1px solid #5092CF;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    .Footer_inner{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        div{
            width: 20%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            a{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                span{
                    color: #5092CF;
                }
                h4{
                    color: #5092CF;
                }
            }
        }
      
    }
}

    
    