.GoMain{
  display: flex !important;
  flex-direction: row !important;
  position: absolute;
  top: 0 !important;
  left: 0 !important;
  height: auto !important;
  width: auto !important;
  white-space: nowrap;
  align-items: center;
  cursor: pointer;
    span{
      color: #5092CF !important;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    }
    p{
      color: #5092CF !important;
      font-family: 'BinggraeSamanco' !important;
      font-size: 1em !important;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    }
}