#Header{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #BBB0B0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    .Header_inner{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        img{
            height: 100%;
        }
        a{
            font-family: 'BinggraeMelona';
            font-weight: bold;
            font-size: 0.8em;
            cursor: pointer;
            color: #5092CF;
        }
    }
}

.user-menu { 
    position: relative;
    display: inline-block;
    align-items: center;
    width: auto;
    .user-menu-main{
        display: flex;
        align-items: center;
        justify-content: space-around;
        box-sizing: border-box;
        border: 2px solid #5092CF;
        border-radius: 50px;
        color: #5092CF;
        width: 100px;
        padding: 3px 0;    
        font-size: 0.8em;
    }
    .dropdown-menu {
        position: absolute;
        right: 0;
        top: 100%;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        padding: 10px;
        display: flex;
        flex-direction: column;
        margin-top: 3%;
        li {
            cursor: pointer;
            color: #333;
            width: 100%;
            padding: 5px 2px;
            font-size: 0.8em;
            &:hover {
                color: #5092CF;
                transition: all 0.3s ease;
                font-weight: bold;
            }
        }
        &:hover {
            border: 1px solid #5092CF;
            transition: all 0.3s ease;
        }
    }
}
