@media screen and (max-width: 1000px) and (orientation: landscape) {
    /* 가로 모드에서의 스타일 정의 */
    .App{
        width: 100% !important;
        height: 100% !important;
        border-radius: 0px;
    }
    #SignUp {
        & .signup_suc {
            &::before {
                content: "";
                position: absolute;
                top: 0;
                width: 100vw !important;
                height: 100vh !important;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 100;
            }
            & > div{
                width: 50%;
                height: 280px;
                h3{
                    font-size: 0.8em;
                    width: 90%;
                }
            }
            span{
                margin-top: 2%;
                padding: 1.5%;
            }
        }
        & > div {
            width: 65% !important;
            height: 100% !important;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            position: relative;
            form {
                width: 100%;
                height: 85% !important;
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow-x: hidden !important;
                overflow-y: auto !important;
                & > div{
                    width: 95% !important;
                    margin-top:  1%;
                }
                .signup_btn{
                    width: 95% !important;
                    padding: 10px 0 !important;
                    margin-top:  1%;
                }
            }
        }
        .GoMain {
            top: 10% !important;
        }
    }
    #Login {
        & > div {
            width: 65%;
            height: 80%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            position: relative;
            & > form{
                overflow-x: hidden;
                overflow-y: scroll;
                & > div{
                    width: 95%;
                    margin-top: 1% ;
                }
                button{
                    width: 95% !important;
                    padding: 10px 0 !important;
                    margin-top: 1% !important ;
                }
            }
        }
        & .login_cancel {
            & > div{
                width: 30% ;
                height: 250px;
            }
            & > span {
                font-size: 1.5em;
                padding: 1.5%;
                background-color: white;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
                border-radius: 50%;
                z-index: 101;
                margin-top: 2%;
                cursor: pointer;
                color: #808080;
            }
        }
    }
    #Header {
        .Header_inner {
            width: 70%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
    .main {
        .main_warp {
            width: 70%;
            height: 100%;
            box-sizing: border-box;
        }
    }
    #SearchList {
        & .SearchList_main {
            overflow-x: hidden;
            overflow-y: auto;
            .SearchList_main_warp {
                width: 70%;
                height: 100%;
                .camp_search_list {
                    height: calc(100% - 90px);
                }
            }
        }
        .loading-message{
            img{
                width: 60%;

            }
        }
        
    }
    .List_main {
        overflow-x: hidden;
        overflow-y: scroll;
        .List_main_warp {
            width: 70%;
            & .filter_box {
                & .filter_box_warp {
                    & > div {
                        & .swiper-container3 {
                            .swiper-wrapper {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: space-evenly;
                            }
                        }
                    }
                }
            }
            .camp_list {
                height: calc(100% - 90px);
            }
        }
    }
    #FavoriteList {
        & .FavoriteList_main {
            .FavoriteList_main_inner {
                width: 70%;
                & ul {
                    & .favorite_campList {
                        & > div {
                            & > div:nth-of-type(1) {
                                p{
                                    position: absolute;
                                    top: 18%;
                                    left: 24%;
                                    color: #D4D9D1;
                                    font-family: 'BinggraeSamanco';
                                    font-size: 0.8em;
                                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
                                }
                                img:nth-of-type(2) {
                                    bottom: -10px;
                                    width: 125px;
                                }
                                img:nth-of-type(3) {
                                    position: absolute;
                                    top: 31%;
                                    transform: translateY(-50%);
                                    left: 22%;
                                    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
                                    width: 70px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .fav_delete_pop{
            width: 70%;
        }
    }

    #CampDetails {
        & #Header {
            .Header_inner {
                width: 70%;
            }
        }
        & .CampDetails_main {
            &.popup_on::before {
                height: 500vh;
            }
            & > div {
                .CampDetails_main_img {
                    width: 70%;
                }
                .CampDetails_main_warp_inbox {
                    width: 70%;
                    & .CampDetails_main_info {
                        & > div {
                            & > div {
                                img {
                                    height: 80%;
                                    transform: rotate(45deg);
                                    margin-bottom: 5%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .share-popup{
            width: 40%;
            .link{
                width: 95%;
            }
        }
    }
    
    /* 캠핑 필터 */
    .Camping_type{
        height: 65%;
        .Camping_type_warp {
            width: 80%;
            margin: 0 auto;
            & > div:nth-of-type(2) {
                & > ul {
                li{
                    border-radius: 20px;
                    }   
                }
            }
            & > div:nth-of-type(3) {
                button{
                    border-radius: 20px;
                }
            }
        }
    }
    .Camping_Environment {
        height: 65%;
        & > div {
            width: 80% !important; 
            margin: 0 auto;
            & > div:nth-of-type(2) {
                & > ul {
                li{
                    border-radius: 20px !important;
                  }   
                }
            }
            & > div:nth-of-type(3) {
                button{
                    border-radius: 20px !important;
                }
            }
        }
    }
    .Around_Environment{
        height: 65%;
        & > div{
            width: 80% !important;
            margin: 0 auto;
            & > div:nth-of-type(2) {
                & > ul {
                li{
                    border-radius: 20px !important;
                    }   
                }
            }
            & > div:nth-of-type(3) {
                button{
                    border-radius: 20px !important;
                }
            }
        }
    }
    #Footer {
        .Footer_inner {
            width: 70%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    #DetailFooter {
        .DetailFooter_inner {
            width: 70%;
        }
    }

    #Not_Found{
        img{
            width: 22%;
        }
        p{
            margin: 3% 0;
        }
        button{
            width: 60%;
            margin: 0 auto;
        }
    }

  }

@media screen and (max-width: 700px) and (orientation: landscape) {
    #Login {
        & .login_cancel {
            & > div {
                width: 35%;
                height: 230px;
                h3 {
                    font-weight: 400;
                    font-size: 0.8em;
                }
            }
        }
    }

    #SignUp {
        & .signup_suc {
            & > div {
                width: 55%;
                height: 230px;
            }
        }
    }
    #CampDetails {
        .share-popup{
            width: 40%;
            height: 210px;
        }
    }

}


@media screen and (max-width: 768px) and (orientation: portrait) {
    .App {
        width: 100% !important;
        height: 100% !important;
      }
}

@media screen and (max-width: 400px) and (orientation: portrait) {
    .CampDetails_main {
        width: 100%;
        height: calc(100% - 130px);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
        background-color: #F8F8F8;
        
        &.popup_on{
            overflow: hidden;
        }
        &.popup_on::before{
            transition: all 0.5s ease;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 300vh !important;
            background-color: #000000b3;
            z-index: 100;
        }
    }

    #Login {
        & > div {
            width: 90% !important;
            height: 90% !important;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            position: relative;
        }
    }

    #Login {
        & .login_cancel {
            &::before {
                content: "";
                position: fixed !important;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 100;
            }
        }
    }
    #SignUp {
        & > div {
            width: 90% !important;
            height: 100% !important;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            position: relative;
            img{
                margin-top: 10% !important;
            }
            form {
                width: 100%;
                height: 85% !important;
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow-x: hidden !important;
                overflow-y: auto !important;
                & > div{
                    width: 95% !important;
                }
                .signup_btn{
                    width: 95% !important;
                    padding: 10px 0 !important;
                }
            }
        }
        & .signup_suc {
            & > div {
                width: 95% !important;
                h3 {
                    font-weight: 400;
                    font-size: 0.9em !important;
                }
            }
        }
    }

    .GoMain {
        top: 8% !important;
    }
}

